<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Blog entries</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.tag}}"/>
    <div class="container">
        <span th:utext="${docText}"></span><br><br>
    </div>
</div>

</body>
</html>