<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title th:text="${blog.subject}">Blogs</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${blog.subject}"/>
    <div>
        <table id="blogentries">
            <thead>
                <tr>
                    <th th:text="#{id}"></th>
                    <th th:text="#{segment}"></th>
                    <th th:text="#{title}"></th>
                    <th class= "blogentries-time" th:text="#{changed}"></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="blogEntry : ${blog.blogEntries}">
                <td><a th:href="@{${linkPath + blogEntry.segment}}" th:text="${blogEntry.id}"></a></td>
                <td><a th:href="@{${linkPath + blogEntry.segment}}" th:text="${blogEntry.segment}"></a></td>
                <td><a th:href="@{${linkPath + blogEntry.segment}}" th:text="${blogEntry.title}"></a></td>
                <td class="blogentries-time"><a th:href="@{${linkPath + blogEntry.segment}}"
                       th:text="${#temporals.format(blogEntry.changed, #messages.msg('datetime.format'))}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${blogEntryForm != null}">
        <form id="blogentryform" th:action="@{${path}}" th:object="${blogEntryForm}" th:method="post">
            <div id="inputfields" class="container">
                <div class="input-row">
                    <label th:for="segment" th:text="segment"></label>
                    <input type="text" id="segment" th:field="*{segment}" th:attr="maxLength=${maxSegmentSize}" th:title="#{tip.segment}">
                    <span class="error" th:if="${#fields.hasErrors('segment')}" th:errors="*{segment}"></span>
                </div>
                <div class="input-row">
                    <label th:for="title" th:text="#{title}"></label>
                    <input type="text" id="title" th:field="*{title}" th:attr="maxLength=${maxTitleSize}">
                    <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
                 <div class="input-row">
                    <label th:for="summary" th:text="#{summary}"></label>
                    <textarea id="summary" th:field="*{summary}" th:attr="maxLength=${maxSummarySize}"></textarea>
                </div>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:value="${blogId}" name="blogId">
                <input type="hidden" th:value="${changed}" name="changed">
            </div>
            <button type="submit" th:text="#{save}" name="path" th:value="${path}"></button>
            <p th:text="#{changed} + ': ' + (${changed != null
                    ? #temporals.format(changed, #messages.msg('datetime.format')) : ' '})
                    + ' id: ' + ${blogEntryForm.id != null ? blogEntryForm.id : ' '} "/>
        </form>
    </div>
</div>

</body>
</html>