<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:data-th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">>
<head>
    <title>Blog texts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${blog.subject}"/>
    <div class="container">
        <div th:each="blogEntry : ${blog.blogEntries}" class="title">
            <h2>
                <a th:text="${blogEntry.title}"></a>
            </h2>
            <a th:text="${blogEntry.summary}"></a><br><br>
            <a th:text="${#temporals.format(blogEntry.changed,'dd-MM-yyyy')}"></a>
        </div>
    </div>
</div>
</body>
</html>