<div th:fragment="blogPosts">
    <div th:if="${blog.blogPosts.size() > 0}">
        <table id="blogposts">
            <thead>
            <tr>
                <th th:text="#{postId}"></th>
                <th th:text="#{segment}"></th>
                <th th:text="#{title}"></th>
                <th class="blogposts-time" th:text="#{changed}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blogPost : ${blog.blogPosts}">
                <td><a th:href="@{${postPath + blogPost.segment}}" th:text="${blogPost.id}"></a></td>
                <td><a th:href="@{${postPath + blogPost.segment}}" th:text="${blogPost.segment}"></a></td>
                <td><a th:href="@{${postPath + blogPost.segment}}" th:text="${blogPost.title}"></a></td>
                <td class="blogposts-time"><a th:href="@{${postPath + blogPost.segment}}"  th:text="${blogPost.changedString}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

