<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Blog entries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div layout:fragment="content">
    <h1>My blogs22344</h1>
    <h2>My blog entries</h2>
    <div class="container">
        <table id="blogentries">
            <tr>
                <th>blogg tittel</th>
                <th>opprettet</th>
                <th>endret</th>
            </tr>
            <tr th:each="blogEntry : ${blogEntries}">
                <td th:text="${blogEntry.title}"></td>
                <td th:text="${#temporals.format(blogEntry.created,'dd-MM-yyy HH:mm')}"></td>
                <td th:text="${#temporals.format(blogEntry.changed,'dd-MM-yyy HH:mm')}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>