<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title class= "section" th:text="${blogPost.title}">Blogs</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" th:utext="${blogPost.summary}"></div>
    <div th:if="${blogPost.blogText}">
        <div class="container" th:utext="${blogPost.blogText.text}"></div>
    </div>
    <p class="date" th:text="${blogPost.changedString}"></p>
</div>
</body>
</html>
