<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title class= "section" th:text="${blog.subject}">Blogs</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${blog.subject}"/>
    <div class="container" th:utext="${blog.about}"></div>
    <div th:each="blogPost : ${blog.blogPosts}" class="title">
        <h2 th:text="${blogPost.title}"></h2>
        <div class="container" th:utext="${blogPost.summary}"></div>
        <div id="blog-reference">
            <p class="date" th:text="${blogPost.changedString}"></p>
            <a th:href="@{${blog.segment + '/'+ blogPost.segment}}" th:text="#{details}"></a>
        </div>
    </div>
</div>
</body>
</html>
