<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Collatz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.segment}}"/>
    <div class="container">
        <div th:utext="${docText}"></div><br>
    </div>
    <form th:action="@{/collatz}" th:object="${collatz}" th:method="post">
        <div class="form-row">
            <label th:for="seed" th:text="#{collatzSeed}"></label>
            <input type="text" id="seed" th:field="*{seed}" maxLength="18">
            <span class="error" th:if="${#fields.hasErrors('seed')}" th:errors="*{seed}"></span>
        </div>
        <button type="submit" th:text="#{calculate}"></button>
        <th:block th:if="${result}">
            <p class="error" th:if="${result.error != null }" th:text="#{${result.error}}"></p>
            <p th:text="#{iterations} + ': ' + ${result.iterations}"></p>
            <p th:text="${result.sequence}"></p>
        </th:block>
    </form>
</div>
</body>
</html>