<!DOCTYPE HTML>
<html th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Start welcome page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.tag}}"/>
    <div class="container">
        <div th:utext="${docText}"></div><br>
    </div>
    <form th:action="@{/collatz}" th:object="${collatz}" th:method="post">
        <div class="container" id="collatzForm">
            <div class="form-row">
                <label th:for="seed" th:text="#{collatzSeed}"></label>
                <input type="text" id="seed" th:field="*{seed}">
                <span class="error" th:if="${#fields.hasErrors('seed')}" th:errors="*{seed}"></span>
            </div>
        </div>
        <div>
            <button type="submit" th:text="#{calculate}"></button>
        </div>
        <p th:if="${iterations != null}" th:text="#{iterations} + ': ' + ${iterations}"></p>
        <p th:text="${result}"></p>
    </form>
</div>
</body>
</html>