<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Energy production Norway</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.segment}}"/>
    <div class="container" th:utext="${docText}"></div><br>
    <form th:action="@{/energydata}" th:object="${energyForm}" th:method="post">
        <div class="input-row">
            <label id="energyLabel" th:for="energyYear" th:text="#{year}"></label>
            <div id="energyInput">
                <input  type="text" id="energyYear" th:field="*{year}" maxLength="7">
                <button type="submit" th:text="#{fetch}"></button>
            </div>
            <span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
        </div>
        <th:block th:if="${energyData}">
            <table id="energyTable">
                <thead>
                <tr>
                    <th th:text="#{energy.source}"></th>
                    <th th:text="#{energy.value}"></th>
                    <th th:text="#{energy.twh}"></th>
                    <th th:text="#{energy.pj}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="energy : ${energyData}">
                    <td id="energySource" th:text="${energy.source}"></td>
                    <td id="energyValue" th:text="${energy.value} + ' ' + ${energy.unit}"></td>
                    <td id="energyTWh" th:text="${energy.twh}"></td>
                    <td id="energyPJ" th:text="${energy.pj}"></td>
                </tr>
                </tbody>
            </table>

        </th:block>
    </form>
    <div class="container" th:utext="${docText2}"></div><br>
</div>
</body>
</html>