<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Energy production Norway</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.segment}}"/>
    <div class="container" th:utext="${docText}"></div><br>
    <form th:action="@{/energyprod}" th:object="${energyProdForm}" th:method="post">
        <div class="input-row">
            <label th:for="year" th:text="#{year}"></label>
            <input type="text" id="year" th:field="*{year}" maxLength="22">
            <span class="error" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
        </div>
        <button type="submit" th:text="#{fetch}"></button>
        <th:block th:if="${energyProd}">
            <table id="energyProdTable">
                <thead>
                <tr>
                    <th th:text="#{energy.source}"></th>
                    <th th:text="#{energy.value}"></th>
                    <th th:text="#{energy.twh}"></th>
                    <th th:text="#{energy.tj}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="energy : ${energyProd}">
                    <td id="energySource" th:text="${energy.source}"></td>
                    <td id="energyValue" th:text="${energy.value} + ' ' + ${energy.unit}"></td>
                    <td id="energyTWh" th:text="${energy.twh}"></td>
                    <td id="energyTJ" th:text="${energy.tj}"></td>
                </tr>
                </tbody>
            </table>

        </th:block>
    </form>
</div>
</body>
</html>