<!DOCTYPE HTML>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}"-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SigmondsSmarts error page that never should appear</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <a id="homebutton" th:text="'⌂'" href="/"/>
    <a id="techreier" th:text="Techreier" href="/"/>
    <!-- included to keep general layout of top line -->
    <form id="language"></form>
</header>
<div id="work" class="container">
    <div class="row">
        <div class="col-md-12">
            <p th:text="#{errorText}"></p>
        </div>
    </div>
<a href="/" th:text="#{home}" class="linkbutton"></a>
<br><br>
<table>
    <tr>
        <td th:text="#{path}"></td>
        <td th:text="${path}">
    </tr>
    <tr>
        <td th:text="#{httpStatus}"></td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td th:text="#{httpStatusCode}"></td>
        <td th:text="${status}"/>
    </tr>
    <th:block th:if="${message != null and message != ''}">
    <tr>
        <td th:text="#{errorMessage}"></td>
        <td th:text="${message}"/>
    </tr>
    </th:block>
    <th:block th:if="${exception}">
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    </th:block>
    <th:block th:if="${trace}">
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
    </th:block>
</table>
</div>
</body>
</html>
