<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Fraction</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.segment}}"/>
    <div class="container" th:utext="${docText}"></div><br>
    <form th:action="@{/fraction}" th:object="${fractionForm}" th:method="post">
        <div class="input-row">
            <label th:for="decimalNumber" th:text="#{decimalNumber}"></label>
            <input type="text" id="decimalNumber" th:field="*{decimalNumber}" maxLength="18">
            <span class="error" th:if="${#fields.hasErrors('decimalNumber')}" th:errors="*{decimalNumber}"></span>
        </div>
        <button type="submit" th:text="#{calculate}"></button>
        <th:block th:if="${result}">
            <p class="error" th:if="${result.error != null }" th:text="#{${result.error}}"></p>
            <p th:text="#{iterations} + ': ' + ${result.iterations}"></p>
            <p th:text="${result.sequence}"></p>
        </th:block>
    </form>
</div>
</body>
</html>