<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Graph</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.segment}}"></h1>
    <details id="graph-details" open>
        <summary th:text="#{details}"></summary>
            <div class="container" th:utext="${docText}"></div>
            <br>
    </details>
    <form th:action="@{/graph}" th:object="${graphForm}" th:method="post">
        <div class="input-form">
            <div class="input-row">
                <label th:for="xMin" th:text="#{xMin}"></label>
                <input type="text" id="xMin" th:field="*{xMin}" maxLength="22">
                <span class="error" th:if="${#fields.hasErrors('xMin')}" th:errors="*{xMin}"></span>
            </div>
            <div class="input-row">
                <label th:for="xMax" th:text="#{xMax}"></label>
                <input type="text" id="xMax" th:field="*{xMax}" maxLength="22">
                <span class="error" th:if="${#fields.hasErrors('xMax')}" th:errors="*{xMax}"></span>
            </div>
            <div class="input-row">
                <label th:for="yMin" th:text="#{yMin}"></label>
                <input type="text" id="yMin" th:field="*{yMin}" maxLength="22">
                <span class="error" th:if="${#fields.hasErrors('yMin')}" th:errors="*{yMin}"></span>
            </div>
            <div class="input-row">
                <label th:for="yMax" th:text="#{yMax}"></label>
                <input type="text" id="yMax" th:field="*{yMax}" maxLength="22">
                <span class="error" th:if="${#fields.hasErrors('yMax')}" th:errors="*{yMax}"></span>
            </div>
        </div>
        <button type="submit" th:text="#{action.draw}"></button>
        <th:block th:if="${result}">
            <p class="error" th:if="${graph.error != null }" th:text="#{${graph.error}}"></p>
        </th:block>
    </form>
    <div th:insert="~{graphView :: graphView(${graph})}"></div>
</div>
</body>
</html>