<!DOCTYPE HTML>
<html th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Start welcome page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/visible.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="login"/>
    <div class="container">
        <form th:action="@{/login}" th:object="${user}" th:method="post">
            <label th:for="userid" th:text="#{userid}"></label>
            <input type="text" id="userid" th:field="*{userid}">
            <span th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}"></span>
            <br><br>
            <label th:for="password" th:text="#{password}"></label>
            <div class="password-container">
                <input type="password" id="password" name="password" th:field="*{password}">
                <span id="togglePassword" onclick="visible()" style="cursor: pointer;">👁️</span>
            </div>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>