<!DOCTYPE HTML>
<html lang="en" th:lang="${langCode}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title th:text="#{title.login}">Login</title>
    <script th:src="@{/js/visible.js(v=${built})}"></script>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{login}"/>
    <form th:action="@{/login}" th:object="${user}" th:method="post">
        <div class="input-form" id="loginform">
            <div class="input-row">
                <label th:for="username" th:text="#{username}"></label>
                <input type="text" id="username" th:field="*{username}">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="input-row">
                <div id="password-container">
                    <label th:for="password" th:text="#{password}"></label>
                    <span id="togglePassword" onclick="visible()" style="cursor: pointer;">👁️</span>
                </div>
                <input type="password" id="password" name="password" th:field="*{password}">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <button type="submit" th:text="#{login}"></button>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>Authenticated</p>
        </div>
    </form>
    <p th:if="${loginError != null}" class="error" th:text="#{${loginError}}"></p>
</div>
</body>
</html>