<!DOCTYPE HTML>
<div th:fragment="markdownHelp">
    <div id="help-container" class="help-container" style="display: none;">
        <pre th:text="#{help.tit}"></pre>
        <pre th:text="#{help.sty}"></pre>
        <pre th:text="#{help.lis}"></pre>
        <pre th:text="#{help.lnk}"></pre>
        <pre th:text="#{help.img}"></pre>
        <pre th:text="#{help.inl}"></pre>
        <pre th:text="#{help.blk}"></pre>
        <pre th:text="#{help.quo}"></pre>
        <pre th:text="#{help.lin}"></pre>
        <pre th:text="#{help.tb1}"></pre>
        <pre th:text="#{help.tb2}"></pre>
        <pre th:text="#{help.tb3}"></pre>
    </div>
</div>


