<!DOCTYPE HTML>
<div th:fragment="markdownHelp">
    <div id="help-container" class="help-container" style="display: none;">
        <pre th:text="#{help.title}"></pre>
        <pre th:text="#{help.style}"></pre>
        <pre th:text="#{help.extra}"></pre>
        <pre th:text="#{help.lists}"></pre>
        <pre th:text="#{help.links}"></pre>
        <pre th:text="#{help.image}"></pre>
        <pre th:text="#{help.inlin}"></pre>
        <pre th:text="#{help.block}"></pre>
        <pre th:text="#{help.quote}"></pre>
        <pre th:text="#{help.lines}"></pre>
        <pre th:text="#{help.tabl1}"></pre>
        <pre th:text="#{help.tabl2}"></pre>
        <pre th:text="#{help.tabl3}"></pre>
    </div>
</div>
