<!DOCTYPE html>
<html th:lang="${langCode}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hans Reier Sigmond">
    <meta name="description" content="TechReier is a blog system about programming, computers, environment and society">
    <meta name="keywords" content="Kotlin, Java, Backend, Spring Boot, Hibernate, JPA, programming, power, energy, environment, climate,
        energi, klima, kraft, elektrisitet, programmering, miljø">
    <meta name="robots" content="index, follow">
    <title>SigmondsSmarts blog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/ico" href="/favicon.ico">
</head>
<body>
<header>
    <a id="homebutton" th:text="'⌂'" href="/"/>
    <a id="techreier" th:text="Techreier" href="/"/>
    <form id="language" th:action="@{/language}" th:method="post">
        <label th:text="language" for="dropDownList" >Language code:</label>
        <select id="dropDownList" name="languageCode" onchange="language.submit()">
            <option th:each="language : ${languages}"
                    th:value="${language.code}" th:text="${language.language} + ' ' + ${language.code}"
                    th:selected="${language.code eq langCode}"></option>
        </select>
        <p class="error" th:text="${error != null} ? #{error}+' '+${error}"></p>
        <input type="hidden" th:value="${blogId}" name="blogid">
        <input type="hidden" th:value="${path}" name="path">
    </form>
</header>
<div class="navbar">
    <div class="dropdown">
        <button th:text="#{vision}" th:class="${menu == 'home'} ? 'dropdown-selected' : 'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form th:action="@{/}" th:method="post">
                <ul>
                    <li th:each="doc: ${homeDocs}">
                        <button class=dropdown-item name="doc" type="submit" th:value="${doc.tag}"
                                th:text="${doc.subject} ? ${doc.subject} : #{${doc.tag}}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{about}" th:class="${menu == 'about'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form th:action="@{/about}" th:method="post">
                <ul>
                    <li th:each="doc: ${aboutDocs}">
                        <button class=dropdown-item name="doc" type="submit" th:value="${doc.tag}"
                                th:text="${doc.subject} ? ${doc.subject} : #{${doc.tag}}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{blogs}" th:class="${menu == 'blogs'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#start">Not implemented</a>
                <form th:action="@{/blogs}"  th:method="post">
                <ul>
                    <li th:each="blog: ${blogs}">
                        <button class=dropdown-item type="submit" name="result" th:value="${blog.tag} +' '+ ${blog.id}"
                                th:text="${blog.subject}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{blogsadmin}" th:class="${menu == 'admin'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/login">login</a>
            <form th:action="@{/admin}" th:method="post">
                <ul>
                    <li th:each="blog: ${blogs}">
                        <button class=dropdown-item name="result" type="submit" th:value="${blog.tag} +' '+ ${blog.id}"
                                th:text="${blog.subject}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div id="work">
    <section layout:fragment="content">
        <p>This is filled by the content template.</p>
    </section>
</div>
<footer>
    <p>techreier &copy; Hans Reier Sigmond</p>
</footer>

</body>
</html>