<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SigmondsSmarts blog</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <p>techreier</p>
</header>
<div class="navbar">
    <a class="active" href="/" th:text="#{home}"></a>
    <div class="dropdown">
        <!--button class="dropdown-btn" th:text="#{about}" th:style="'background-color: green'">Blogs-->
        <button class="dropdown-btn" th:text="#{about}">Blogs
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form th:action="@{/about}" th:method="post">
                <ul>
                    <li th:each="doc: ${docs}">
                        <button class=dropdown-button name="doc" type="submit" th:value="${doc.tag}"
                                th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.tag}}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn" th:text="#{blogs}">Blogs
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#start">Not implemented</a>
                <!--form th:action="@{/blogs}" th:object="${blogForm}" th:method="post"-->
                <form th:action="@{/blogs}"  th:method="post">
                <ul>
                    <li th:each="blog: ${blogs}">
                        <button class=dropdown-button type="submit" name="result" th:value="${blog.tag} +' '+ ${blog.id}"
                                th:text="${blog.subject}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn" th:text="#{blogsadmin}">Blog admin
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#start">Sorry, no edit permission</a>
            <form th:action="@{/admin}" th:method="post">
                <ul>
                    <li th:each="blog: ${blogs}">
                        <button class=dropdown-button name="result" type="submit" th:value="${blog.tag} +' '+ ${blog.id}"
                                th:text="${blog.subject}"></button>
                    </li>
                </ul>
            </form>
            <!--
            <span th:each="blog : ${blogs}">
                <a href="/" th:text="${blog.subject}"></a>
            </span-->
        </div>
    </div>
</div>

<div id="work">
    <!-- Content Section -->
    <section layout:fragment="content">
        <p>This is filled by the content template.</p>
    </section>
</div>
<!-- https://o7planning.org/11659/thymeleaf-form-select-option-->
<footer>
    <!--form th:action="@{{path}/language(path=${path})}" th:method="post"-->
    <!--form th:action="@{|${path}/language|}" th:method="post"-->
    <form th:action="@{/language}" th:method="post">
        <p>techreier &copy; Hans Reier Sigmond</p>
        <label th:text="#{lang.text}" for="dropDownList" >Language code:</label>
        <select id="dropDownList" name="code">
            <option th:each="language : ${languages}"
                    th:value="${language.code}" th:text="#{${language.language}} +' '+ ${language.code}"
                    th:selected="${language.code eq langcode}"></option>
        </select>
        <!--button th:name="changelanguage" th:value="${blogid}" type="submit" th:text="#{lang.change}"/-->
        <button th:name="changelanguage" type="submit" th:text="#{lang.change}"/>
        <p class="error" th:text="${error != null} ? #{error}+' '+${error}"></p>
        <p class="error" th:text="${path}"></p>
        <input type="hidden" th:value="${blogid}" name="blogid"/>
        <input type="hidden" th:value="${path}" name="path"/>
    </form>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional"/>
</body>
</html>