<!DOCTYPE html>
<html lang="en" th:lang="${langCode}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hans Reier Sigmond">
    <meta name="description" content="TechReier is a blog system about programming, computers, environment and society">
    <meta name="keywords" content="Kotlin, Java, Backend, Spring Boot, Hibernate, JPA, programming, power, energy, environment, climate,
        energi, klima, kraft, elektrisitet, programmering, miljø">
    <meta name="robots" content="index, follow">
    <title>Reier</title>
    <link rel="stylesheet" th:href="@{/css/styles.css(v=${built})}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico(v=${built})">
    <script th:src="@{/js/dropdown.js(v=${built})}"></script>
</head>
<body>
<header>
    <div class="left-top">
        <a id="homebutton" th:href="@{/}" th:text="'⌂'"/>
        <a id="techreier" th:href="@{/}" th:text="Techreier"></a>
    </div>
    <div class="right-top">
        <form id="language" th:action="@{/language}" th:method="post">
            <label id="languageLabel" th:text="language" for="languageSelect"></label>
            <select id="languageSelect" name="languageCode" onchange="language.submit();">
                <option id="languageOption" th:each="language : ${languages}"
                        th:value="${language.code}" th:text="${language.language} + ' ' + ${language.code}"
                        th:selected="${language.code eq langCode}"></option>
            </select>
            <p class="error" th:text="${error != null} ? #{error}+' '+${error}"></p>
            <input type="hidden" th:value="${path}" name="path">
        </form>
        <div sec:authorize="isAuthenticated()"> ✔</div>
    </div>
</header>
<div class="navbar">
    <div class="dropdown">
        <button th:text="#{views}" th:class="${menu == 'home'} ? 'dropdown-selected' : 'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form th:action="@{/}" th:method="post">
                <button class=dropdown-item name="segment" type="submit"
                        th:each="item: ${homeMenu}"
                        th:value="${item.segment}"
                        th:text="${item.subject} ? ${item.subject} : #{${item.segment}}"
                        th:data-topic="${item.isTopic}"
                        th:data-id="${item.segment + '-' + item.langCode}">
                </button>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{about}" th:class="${menu == 'about'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form th:action="@{/about}" th:method="post">
                <button class=dropdown-item name="segment" type="submit"
                        th:each="item: ${aboutMenu}"
                        th:value="${item.segment}"
                        th:text="${item.subject} ? ${item.subject} : #{${item.segment}}"
                        th:data-topic="${item.isTopic}"
                        th:data-id="${item.segment + '_' + item.langCode}">
                </button>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{blog}" th:class="${menu == 'blogs'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/collatz}" class="dropdown-item" th:text="#{collatz}"></a>
            <form th:action="@{/blogs}" th:method="post">
                <button class=dropdown-item type="submit" name="result"
                        th:each="item: ${menu}"
                        th:value="${item.segment}"
                        th:text="${item.subject}"
                        th:data-topic="${item.isTopic}"
                        th:data-id="${item.segment + '.' + item.langCode}">
                </button>
            </form>
        </div>
    </div>
    <div class="dropdown">
        <button th:text="#{blogadmin}" th:class="${menu == 'admin'} ? 'dropdown-selected' :'dropdown-btn'">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="dropdown-item" th:text="#{login}"></a>
            </div>
            <div th:if="!${auth}">
                <a th:href="@{/admin/{segment}(segment=${newSegment})}"  class="dropdown-item" th:text="#{newBlog}"></a>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class=dropdown-item type="submit" th:text="#{logout}"></button>
                    </form>
                </div>
                <form th:action="@{/admin}" th:method="post">
                    <button class=dropdown-item name="result" type="submit"
                            th:each="item: ${menu}"
                            th:value="${item.segment}"
                            th:text="${item.subject}"
                            th:data-topic="${item.isTopic}"
                            th:data-id="${item.segment + '+' + item.langCode}">
                    </button>
                </form>
            </div>
            <div th:if="${auth}">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/admin/{segment}(segment=${newSegment})}"  class="dropdown-item" th:text="#{newBlog}"></a>
                    <form th:action="@{/logout}" th:method="post">
                        <button class=dropdown-item type="submit" th:text="#{logout}"></button>
                    </form>
                    <form th:action="@{/admin}" th:method="post">
                        <button class=dropdown-item name="result" type="submit"
                                th:each="item: ${menu}"
                                th:value="${item.segment}"
                                th:text="${item.subject}">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="work">
    <div th:if="${warning != null}">
        <p class=warning th:text="#{'warning.' + ${warning}}"></p>
    </div>
    <div th:if="${docLangCode != null}">
        <p class=warning th:text="#{'warning.' + ${docLangCode}}"></p>
    </div>
    <div th:if="${(blog != null) and (blog.langCodeFound != blog.langCodeWanted)}">
        <p class=warning th:text="#{'warning.' + ${blog.langCodeFound}}"></p>
    </div>
    <section layout:fragment="content">
        <p>This is filled by the content template.</p>
    </section>
</div>
<footer>
    <p th:text="'techreier &copy; Hans Reier Sigmond ' + ${buildDate}"></p>
</footer>

</body>
</html>