<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Start welcome page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div layout:fragment="content">
    <!--h2 th:text="${doc.subject != null} ? ${doc.subject} : #{${doc.tag}}"/-->
    <!--div class="container">
        <a th:utext="${docText}"></a><br><br>
    </div-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{greeting}"></h1>
                <p>læring med låret i løksuppa</p>
            </div>
            <h1>Spring Boot Thymeleaf eDrops test web pagereno</h1>
            <h2>
                Reier3
                <span th:text="${message1}"></span>
                <span th:text="'Message: ' + ${message}"></span>
            </h2>
        </div>
    </div>
</div>

</body>
</html>